html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.header {
    height: 900px;
    width: 100vw;
    background-image: url("https://images.pexels.com/photos/2909263/pexels-photo-2909263.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") ;
}

.headerDescription {
    color: white;
    text-align: center;
    font-family: Lucida Sans Unicode;
    font-size: 16px;
}

.image1 {
    text-align: right;
    width: 600px;
    height: 770px;
    margin-top: 50px;
}

.image2 {
    text-align: left;
    width: 600px;
    height: 770px;
    margin-top: 50px;
}

.image3 {
    text-align: right;
    width: 600px;
    height: 700px;
    margin-top: 100px;
    margin-left: auto
}

.image3Description {
    margin-left: 870px;
    margin-right: 100px;
}

.image1Description {
    text-align: right;
}

.center{
    text-align: center;
    font-family: Lucida Sans Unicode;
    color: rgba(0,0,0,1);
    margin-left: 200px;
    margin-right: 200px;
}

.left {
    padding: 20px;
    margin-left: 80px;
    width: 450px;
    float: left;
    color: rgba(0,0,0,1);
    font-family: Lucida Sans Unicode;
    font-size: 18px;
}
.right {
    padding: 20px;
    margin-right: 80px;
    width: 450px;
    float: right;
    color: rgba(0,0,0,1);
    font-family: Lucida Sans Unicode;
    font-size: 18px;
}

.leftPara {
    margin-top: 100px;
    margin-left: 90px;
    margin-right: auto;
    width: 475px;
}

.leftPara2 {
    margin-left: 90px;
    width: 475px;
}
.rightPara {
    margin-top: 50px;
    margin-right: 90px;
    float: right;
    width: 475px;
}

.font1 {
    font-size: 20px
}

.font2 {
    font-size: 14px
}

.centerPic{
    text-align: center;
    color: rgba(0,0,0,1);
    font-size: 14px;
    font-family: Lucida Sans Unicode;
}

figure {
    display: inline-block;
    margin: 10px;
}
figure img {
    vertical-align: top;
    text-align: center;
}

figure figcaption {
    text-align: center;
}

.content {
    margin: 0;
    padding-bottom: 30px;
    width: 50vw; /*this is the line that changes the width of the blocks*/
    background: #ffffff;
}

.socialMedia {
    padding-top: 100px;
    width: 300px;
    height: 100px;
    margin-left: 40vw;
    margin-right: 40vw;
}

.spacer {
    margin-bottom: 100px;
    margin-left: 200px;
}

p {
    font-family: Lucida Sans Unicode;
    font-size: 14px;
}

.blockBlack {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 70px;
    width: 100vw;
    background: #000000;
}

.bottomPad {
    padding-bottom: 100px;
}

.footer{
  
   
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    text-align: center;
    padding-bottom: 1.5px;
    padding-top:1.5px;
    height:3vw;
  

  }
  
  /*Footer*/
  
  .footer img{
    width:30px;
    height:30px;
    padding-top:0.5vw
  }


  /* Round Button */

  .round-button {
    opacity: 0;
    
    animation: fadeIn 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    width:25%;
    margin-left:25vw;
    margin-top:2.8vw;
}

.round-button h1{
    font-size:5vw;
    margin-top:15vw;
    margin-left:-10vw;


    color:white;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}




.round-button-circle {
	width: 50vw;
	height:20vw;
	padding-bottom: 100%;
    border-radius: 50%;
	border:25px solid white;
    overflow:hidden;
    background-opacity: 0;
    box-shadow: 0 0 3px gray;
   
}

.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

.credit h3 {
    margin-top: auto;
    padding-top:1.2vw;
    margin-left: 45vw;
}
